# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [10]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Anshun,CN,26.2500,105.9333,40.14,74,100,6.85,overcast clouds
1,1,Sidi Ali,DZ,36.0998,0.4206,61.57,81,67,25.50,broken clouds
2,2,Nikolskoye,RU,59.7035,30.7861,19.29,87,100,11.52,overcast clouds
3,3,Ukiah,US,39.1502,-123.2078,48.36,83,100,5.75,overcast clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,71.19,90,98,8.01,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [11]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60.9
What is the maximum temperature you would like for your trip? 90.2

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [12]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Sidi Ali,DZ,36.0998,0.4206,61.57,81,67,25.50,broken clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,71.19,90,98,8.01,overcast clouds
6,6,Filingue,NE,14.3521,3.3168,74.08,12,96,10.13,overcast clouds
7,7,Salta,AR,-24.7859,-65.4117,90.19,33,40,6.91,scattered clouds
9,9,Mataura,NZ,-46.1927,168.8643,63.48,60,85,1.74,overcast clouds
10,10,Carnarvon,AU,-24.8667,113.6333,70.30,77,0,16.89,clear sky
11,11,Umm Kaddadah,SD,13.6017,26.6876,63.64,21,0,11.52,clear sky
12,12,San Cristobal,VE,7.7669,-72.2250,69.98,80,70,2.28,broken clouds
16,16,Port Elizabeth,ZA,-33.9180,25.5701,73.09,95,20,19.57,few clouds
17,17,Saint-Joseph,RE,-21.3667,55.6167,75.58,83,69,12.77,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [14]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Sidi Ali,DZ,36.0998,0.4206,61.57,81,67,25.50,broken clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,71.19,90,98,8.01,overcast clouds
6,6,Filingue,NE,14.3521,3.3168,74.08,12,96,10.13,overcast clouds
7,7,Salta,AR,-24.7859,-65.4117,90.19,33,40,6.91,scattered clouds
9,9,Mataura,NZ,-46.1927,168.8643,63.48,60,85,1.74,overcast clouds
10,10,Carnarvon,AU,-24.8667,113.6333,70.30,77,0,16.89,clear sky
11,11,Umm Kaddadah,SD,13.6017,26.6876,63.64,21,0,11.52,clear sky
12,12,San Cristobal,VE,7.7669,-72.2250,69.98,80,70,2.28,broken clouds
16,16,Port Elizabeth,ZA,-33.9180,25.5701,73.09,95,20,19.57,few clouds
17,17,Saint-Joseph,RE,-21.3667,55.6167,75.58,83,69,12.77,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [15]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()


# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sidi Ali,DZ,61.57,broken clouds,36.0998,0.4206,
4,Port Alfred,ZA,71.19,overcast clouds,-33.5906,26.8910,
6,Filingue,NE,74.08,overcast clouds,14.3521,3.3168,
7,Salta,AR,90.19,scattered clouds,-24.7859,-65.4117,
9,Mataura,NZ,63.48,overcast clouds,-46.1927,168.8643,
10,Carnarvon,AU,70.30,clear sky,-24.8667,113.6333,
11,Umm Kaddadah,SD,63.64,clear sky,13.6017,26.6876,
12,San Cristobal,VE,69.98,broken clouds,7.7669,-72.2250,
16,Port Elizabeth,ZA,73.09,few clouds,-33.9180,25.5701,
17,Saint-Joseph,RE,75.58,broken clouds,-21.3667,55.6167,

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [ ]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [16]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [17]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat =  row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
# Display sample data
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sidi Ali,DZ,61.57,broken clouds,36.0998,0.4206,Khaled
4,Port Alfred,ZA,71.19,overcast clouds,-33.5906,26.8910,The Halyards Hotel & Spa
6,Filingue,NE,74.08,overcast clouds,14.3521,3.3168,Chez Zarkilou Issa
7,Salta,AR,90.19,scattered clouds,-24.7859,-65.4117,Hotel Alejandro I
9,Mataura,NZ,63.48,overcast clouds,-46.1927,168.8643,Ellie's Villa
...,...,...,...,...,...,...,...
684,Ouadda,CF,68.38,clear sky,8.0777,22.4007,
685,Ndele,CF,71.35,clear sky,8.4109,20.6473,
686,Davila,PH,75.94,overcast clouds,18.4726,120.5763,Blue Ridge Beach Resort
687,Porto Novo,BJ,80.17,clear sky,6.4965,2.6036,Tour Eiffel Hotel Benin
688,Oranjestad,AW,80.91,few clouds,12.5240,-70.0270,Divi Village Golf & Beach Resort

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [25]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sidi Ali,DZ,61.57,broken clouds,36.0998,0.4206,Khaled
4,Port Alfred,ZA,71.19,overcast clouds,-33.5906,26.8910,The Halyards Hotel & Spa
6,Filingue,NE,74.08,overcast clouds,14.3521,3.3168,Chez Zarkilou Issa
7,Salta,AR,90.19,scattered clouds,-24.7859,-65.4117,Hotel Alejandro I
9,Mataura,NZ,63.48,overcast clouds,-46.1927,168.8643,Ellie's Villa

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [32]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [33]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [34]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Khaled</dd>\n<dt>City</dt><dd>Sidi Ali</dd>\n<dt>Country</dt><dd>DZ</dd>\n<dt>Current Weather</dt><dd>broken clouds and 61.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Halyards Hotel & Spa</dd>\n<dt>City</dt><dd>Port Alfred</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 71.19 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Chez Zarkilou Issa</dd>\n<dt>City</dt><dd>Filingue</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 74.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Alejandro I</dd>\n<dt>City</dt><dd>Salta</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 90.19 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Ellie's Villa</dd>\n<dt>City</dt><dd>Mataura</dd>\n<dt>Country</dt><dd>NZ</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 63.48 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.3 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd></dd>\n<dt>City</dt><dd>Umm Kaddadah</dd>\n<dt>Country</dt><dd>SD</dd>\n<dt>Current Weather</dt><dd>clear sky and 63.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pirineos</dd>\n<dt>City</dt><dd>San Cristobal</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 69.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>39 On Nile Guest House</dd>\n<dt>City</dt><dd>Port Elizabeth</dd>\n<dt>Country</dt><dd>ZA</dd>\n<dt>Current Weather</dt><dd>few clouds and 73.09 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>"Plantation Bed and Breakfast</dd>\n<dt>City</dt><dd>Saint-Joseph</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.58 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [35]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   36.0998    0.4206
4  -33.5906   26.8910
6   14.3521    3.3168
7  -24.7859  -65.4117
9  -46.1927  168.8643
10 -24.8667  113.6333
11  13.6017   26.6876
12   7.7669  -72.2250
16 -33.9180   25.5701
17 -21.3667   55.6167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [36]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
# Add a marker layer for each city to the map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))